.train_departures_container {
  font-size: xx-large;
  color: #003082;
  width: 95%;
  margin-left: 5%;
}
.departure_direction {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
.departure_time_direction_flex {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.departure_platform_type_flex {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.direction--font {
  font-size: 45px;
}
